<header class="row middle-xs around-xs margen">
	<div class="logo row middle-xs col-xs-3">
		<h1>InformaTec</h1>
	</div>
	<nav class="col-xs-6">
		<ul class="row margen between-xs">
			<li><%= link_to "Inicio", root_path %></li>
			<li>Arbitrados</li>
			<li>Divulgación</li>
			<li><%= link_to "Login", new_user_session_path %></li>
		</ul>
	</nav>
</header>