// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card{
  max-width: 18em;
  max-height: 25em;
  img{
    max-height: 10em;
    height: 10em;
  }
  .link{
    height: 2.5em;
  }
}
